.resBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resWorkArea{
    display: flex;
    width: 70%;
    flex-direction: column;

    min-height: 200vh;
}

.app.dark .resBody{
    color: whitesmoke;
}

.dragDropZone{
    border: 2px #44a8d6 dashed;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 2rem 1rem 2rem;

    padding: 1rem 2rem 1rem 2rem;
}

.zone-off{
    display: none;
}

.toggle.on .dragDropZone{
    
}

.buildZone{

}


.resFiles{
    margin-right: 0;
    max-width: 30%;
    height: 100vh;
    padding: 0 1rem 0 1rem;

    position: sticky;
    top: 85px;
    align-self: flex-start;
}

.docs{
    color: #3092c0;
}

.doc-link{
    color: #3092c0;
}

.app.dark .doc-link{
    color: #44a8d6;
}

.doc-link:hover{
    color: navy;
}

.app.dark .doc-link:hover{
    color: lightblue;
}

.toggle-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.toggle-option{
    line-height: 30px;
    font-size: 30px;
    color: gray;
}

.option-toggled{
    color: #44a8d6;
}

.app.dark .option-toggled{
    text-shadow: 0 0 5px #3092c0;
}

.toggle {
    width: 54px;
    height: 30px;
    padding: 3px;
    margin: 24px 1rem 0 1rem; 
    border: none;
    border-radius: 999px;
    background-color: #44a8d6;
    cursor: pointer;

    display: flex;
    align-items: center;

    transition: background-color 0.2s ease;
}

.toggle-knob {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;

    transition: transform 0.2s ease;
}

.toggle.on {
    background-color: #44a8d6;
}

.toggle.on .toggle-knob {
    transform: translateX(24px);
}